#testText {
    background-color: darkslategrey;
}

.pharmacyGreeting {
    color: rgb(200, 255, 138);
    font-size: 3em;
}

p>span {
    color: rgb(0, 217, 255);
}

a {
    text-decoration: none;
    color: red;
    text-transform: uppercase;
}