    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
	font-family: 'Helvetica', 'Arial', sans-serif;
    }
    
     :before,
     :after {
        box-sizing: border-box;
    }
    
     ::selection {
        background-color: #29e4c2;
    }
    
    body {
        background: url("../Graphics/bg.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #eeeeee;
    }
    
    #page-container {
        position: relative;
        min-height: 100vh;
    }
    
    #welcome-banner {
        display: flex;
        flex-direction: row-reverse;
        padding: 1rem;
        font-size: 2.5rem;
    }
    
    #welcome-banner>a {
        color: #24ba9f;
        text-decoration: none;
    }
    
    #content-wrap {
        min-height: 83.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .card {
        min-height: 75%;
        min-width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        text-align: center;
        background-color: #ffffff57;
    }
    
    #box-name {
        text-align: center;
        font-size: 2.2rem;
        color: rgb(78, 78, 78);
        padding-bottom: 14px;
    }
    
    .select {
        position: relative;
        width: 350px;
        margin-top: 20px;
        margin-left: 20px;
    }
    
    .select-text {
        color: rgb(78, 78, 78);
        position: relative;
        font-family: inherit;
        background-color: transparent;
        width: 350px;
        padding: 10px 10px 10px 0;
        font-size: 18px;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    
    .select-text:focus {
        outline: none;
        color: rgb(78, 78, 78);
        border-bottom: 1px solid rgba(0, 0, 0, 0);
    }
    
    .select .select-text {
        appearance: none;
        -webkit-appearance: none;
    }
    
    .select:after {
        position: absolute;
        top: 18px;
        right: 10px;
        /* Styling the down arrow */
        width: 0;
        height: 0;
        padding: 0;
        content: "";
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid rgba(0, 0, 0, 0.12);
        pointer-events: none;
    }
    
    .select-label {
        color: rgba(0, 0, 0, 0.26);
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 0;
        top: 10px;
        transition: 0.2s ease all;
    }
    
    .select-text:focus~.select-label,
    .select-text:valid~.select-label {
        color: #24ba9f;
        top: -20px;
        transition: 0.2s ease all;
        font-size: 14px;
    }
    
    .select-bar {
        position: relative;
        display: block;
        width: 350px;
    }
    
    .select-bar:before,
    .select-bar:after {
        content: "";
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #24ba9f;
        transition: 0.2s ease all;
    }
    
    .select-bar:before {
        left: 50%;
    }
    
    .select-bar:after {
        right: 50%;
    }
    /* active state */
    
    .select-text:focus~.select-bar:before,
    .select-text:focus~.select-bar:after {
        width: 50%;
    }
    
    .select-highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }
    
    .group {
        position: relative;
        margin-top: 25px;
        margin-left: 30px;
    }
    
    input[type=text],
    input[type=password] {
        background-color: rgba(0, 0, 0, 0.062);
        color: rgb(78, 78, 78);
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 320px;
        border: none;
        border-radius: 5px;
    }
    
    input[type=text]:focus,
    input[type=password]:focus {
        outline: none;
    }
    
    input[type=text]:focus~label,
    input[type=text]:valid~label,
    input[type=password]:focus~label,
    input[type=password]:valid~label {
        top: -14px;
        font-size: 12px;
        color: #24ba9f;
    }
    
    input:focus~.bar:before {
        width: 320px;
    }
    
    input[type=password] {
        letter-spacing: 0.3em;
    }
    
    label {
        color: #c6c6c6;
        font-size: 1.2rem;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 300ms ease all;
    }
    
    .bar {
        position: relative;
        display: block;
        width: 320px;
    }
    
    .bar:before {
        content: "";
        height: 2.5px;
        width: 0;
        bottom: 0px;
        position: absolute;
        background: #24ba9f;
        transition: 300ms ease all;
        left: 0%;
    }
    
    .btn {
        background: #fff;
        color: #959595;
        border: none;
        padding: 10px 20px;
        border-radius: 3px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1rem;
        outline: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    
    .btn:hover {
        color: #8b8b8b;
        box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
    }
    
    .btn.btn-login {
        background: #24ba9f;
        color: #ceebe5;
    }
    
    .btn.btn-login:hover {
        background: #22aa91;
        color: #ececec;
        cursor: pointer;
    }
    
    .btn-box {
        text-align: center;
        margin: 20px 0;
    }
    
    #signup-btn {
        color: #1d8370;
        font-size: 1.2rem;
    }
    
    #footer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 4.5rem;
        color: #24ba9f;
        font-size: 1.5rem;
        text-align: center;
        /* background-color: #b9b9b92c; */
    }